$veryLightPink: rgb(241, 169, 160);
$nicePink: rgb(255, 244, 241);
$nicePink2: rgb(255, 215, 204);
$lightPink: rgb(224, 130, 131);
$pink: rgb(226, 106, 106);
$darkPink: rgb(150, 40, 27);
$grayishBlue: hsl(233, 8%, 62%);
$white: hsl(0, 0%, 100%);
$darkBlue: hsl(233, 26%, 24%);